<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>__APPNAME__管理系统</title>
    <include file="App/Admin/View/component/impot.comp.html" />
    <link href="__ADIST__/index/index.css" rel="stylesheet" type="text/css">

    <style>
        ul {
            padding: 0;
            margin: 0;
        }

        li {
            list-style: none;
            padding: 0;
        }
    </style>
</head>

<body>
    <div class="o-nav">
        <div class="o-nav-left">

            <div class="o-nav-item">
                <a href="javascript:;" data-src='Index/home'>
                    <i class="fa fa-home fa-fw"></i>
                    首页
                </a>
            </div>
            <div class="o-nav-item">
                <a href='{:U("home/index/index")}' target="_blank">
                    <i class="fa fa-globe fa-fw"></i>
                    前端首页
                </a>
            </div>

        </div>


        <div class="o-nav-right">
            <div class="o-nav-item">
                <a href="javascript:;" data-src=' '>
                    <!-- <i class="fa fa-home"></i> -->
                    <img src="__ROOT__/{$Think.session.admin_head_img}" alt="">{$Think.session.admin_name}
                    <!-- <span class="spot spot-danger"></span> -->
                </a>
                <div class="o-nav-item-s">
                    <ul>
                        <!-- <li>
                            <a href="">
                                <i class="fa fa-bell fa-fw"></i>
                                消息
                                <span class="spot spot-danger"></span>
                            </a>
                        </li> -->
                        <li>
                            <a href="" data-src='Config/user '>
                                <i class="fa fa-cog fa-fw"></i>
                                个人设置
                            </a>
                        </li>
                        <li class="line"></li>
                        <li>
                            <a href="__MODULE__/Login/sinOut">
                                <i class="fa fa-sign-out fa-fw"></i>
                                退出登录
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="o-nav-list">

        <div class="o-nav-item">
            <a href="" class="o-nav-logo">
                <!-- <i class="fa fa-home"></i> -->
                __APPNAME__
            </a>

        </div>


        <div class="o-nav-item">
            <a href="" class="">
                <i class="fa fa-file-text fa-fw"></i>
                文章管理
            </a>
            <div class="o-nav-list-s">
                <ul>
                    <li>
                        <a href="__MODULE__/info/add" target="_black" ddata-src='info/add '>
                            <i class="fa fa-plus fa-fw"></i>
                            发布文章
                        </a>
                    </li>
                    <li>
                        <a href="" data-src='info/showList '>
                            <i class="fa fa-file-text fa-fw"></i>
                            文章列表
                        </a>
                    </li>
                </ul>

            </div>
        </div>



        <div class="o-nav-item">
            <a href="" class="">
                <i class="glyphicon glyphicon-list-alt"></i>
                栏目管理
            </a>
            <div class="o-nav-list-s">
                <ul>
                    <li>
                        <a href="javascript:;" data-src='nav/showList '>
                            <i class="glyphicon glyphicon-list-alt"></i>
                            栏目列表
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--  -->

        <div class="o-nav-item">
            <a href="" class="">
                <i class="layui-icon">&#xe634;</i>
                轮播管理
            </a>
            <div class="o-nav-list-s">
                <ul>
                    <li>
                        <a href="javascript:;" data-src='Carousel/showList '>
                            <i class="layui-icon">&#xe634;</i>
                            轮播管理
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!--  -->

        <div class="o-nav-item">
            <a href="" class="">
                <i class="fa fa-thumb-tack"></i>
                信息配置
            </a>
            <div class="o-nav-list-s">
                <ul>
                    <li>
                        <a href="javascript:;" data-src='Settings/index'>
                            <i class="fa fa-fa-thumb-tack"></i>
                            配置
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <!--  -->

        <!-- <div class="o-nav-item">
            <a href="" class="">
                <i class="fa fa-pie-chart"></i>
                统计
            </a>
            <div class="o-nav-list-s">
                <ul>
                    <li>
                        <a href="javascript:;" data-src='Chart/show'>
                            <i class="fa fa-pie-chart"></i>
                            统计
                        </a>
                    </li>
                </ul>
            </div>
        </div> -->

        <hr>

        <if condition='$Think.session.admin_id == "admin" || $Think.session.admin_id == "root"'>

            <div class="o-nav-item" id="vo">
                <a href="javascript:;">
                    <i class="fa fa-cogs fa-fw"></i>
                    系统设置
                </a>
                <div class="o-nav-list-s">
                    <ul>
                        <li>
                            <a href="javascript:;" data-src='Config/showList'>
                                <i class="fa fa-id-card"></i>
                                管理员管理
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
        </if>


        <div class="footer">
        </div>
    </div>

    <div class="o-iframe-box">
        <iframe id="iframe" name="iframe" src="" frameborder="0"></iframe>
    </div>


    <script src="__ADIST__/index/index.js"></script>
    <script src="__VENDOR__/qrious/qrious.js"></script>


    <script>


        srcEvent.config.url = "__MODULE__";
        srcEvent.init();
        window['a '] = 1;

    </script>

</body>

</html>