<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="__VENDOR__/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="__VENDOR__/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="__HDIST__/app/app.css" />
	<link rel="stylesheet" type="text/css" href="__HDIST__/index/index.css" />
</head>

<body>
	<div id="app-index">


		<include file="App/Home/View/comp/nav.comp.html" />


		<!--新闻动态和关于我们开始-->
		<div class="container" id="newsApp">
			<div class="row">
				<div class="col-xs-8">
					<div class="panel panel-default">
						<div class="panel-heading">
							<a href="__MODULE__/List/index/listname/news">
								<h3 class="panel-title">新闻动态</h3>
							</a>
							<a href="__MODULE__/List/index/listname/news">
								<span class="gray fr">更多>></span>
							</a>
						</div>
						<div class="panel-body app-panel-body">
							<!--面板里边左边的图片-->
							<div class="row">
								<div class="col-xs-4">
									<a href="__MODULE__/Info/info/info_id/{$news[0].info_id}">
										<img src="__ROOT__/{$news[0].info_head}" />
									</a>
								</div>
								<div class="col-xs-8 app-8">
									<volist name='news' id='vol' empty='没有新闻'>
										<div class="list">
											<div class="list-head app-line">
												<a href='__MODULE__/Info/info/info_id/{$vol.info_id}'>{$vol.info_title}</a>
											</div>
											<div class="list-body">{$vol.info_info}</div>
											<div class="list-footer fr">{$vol.add_time}</div>
										</div>
									</volist>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<a href="__MODULE__/Info/info/info_id/about">
								<h3 class="panel-title">关于我们</h3>
							</a>
						</div>
						<div class="panel-body app-panel-body">
							{$about.info_info}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--新闻动态和关于我们结束-->
		<!--服务项目开始-->
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="panel panel-default">
						<a href="__MODULE__/List/index/listname/service">
							<div class="panel-heading panel-green">
								<span class="panel-title panel-center-title">服务项目</span>
							</div>
						</a>
						<div class="panel-body app-panel-body-service">
							<div class="row">
								<volist name='service' id='vol' empty='没有服务项目'>

									<div class="col-xs-3 app-col-xs-3">
										<a href="__MODULE__/Info/info/info_id/{$vol.info_id}">
											<div class="server-img-test">
												<img src="__ROOT__{$vol.info_head}" />
												<span class="green">{$vol.info_title}</span>
											</div>
										</a>

										<div class="info-content">
											{$vol.info_content|htmlspecialchars_decode}
										</div>

									</div>
								</volist>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--服务项目结束-->
		<!--保健养生开始-->
		<div class="container">
			<div class="row">
				<div class="col-xs-6">
					<!--保健专题开始-->
					<div class="panel panel-default">
						<div class="panel-heading">
							<a href="__MODULE__/List/index/listname/health">
								<h3 class="panel-title">保健专题</h3>
							</a>
							<a href="__MODULE__/List/index/listname/health">
								<span class="gray fr">更多>></span>
							</a>
						</div>
						<div class="panel-body app-panel-body-health">
							<div class="row">
								<div class="col-xs-5">
									<a href="__MODULE__/Info/info/info_id/{$health[0].info_id}">
										<img src="__ROOT__/{$health[0].info_head}" />
									</a>
								</div>
								<div class="col-xs-7 app-7">

									<volist name='health' id='vol' empty='没有文章！'>
										<a href="__MODULE__/Info/info/info_id/{$vol.info_id}">
											<p class="app-line">{$vol.info_title}</p>
										</a>
									</volist>

								</div>
							</div>
						</div>
					</div>
					<!--保健专题结束-->
				</div>
				<div class="col-xs-6">
					<!--养生专题开始-->
					<div class="panel panel-default">
						<div class="panel-heading">
							<a href="__MODULE__/List/index/listname/health">
								<h3 class="panel-title">养生专题</h3>
							</a>
							<a href="__MODULE__/List/index/listname/health">
								<span class="gray fr">更多>></span>
							</a>
						</div>
						<div class="panel-body app-panel-body-health">
							<div class="row">
								<div class="col-xs-5">
									<a href="__MODULE__/Info/info/info_id/{$health[0].info_id}">
										<img src="__ROOT__/{$health[0].info_head}" />
									</a>
								</div>
								<div class="col-xs-7 app-7">
									<volist name='health' id='vol' empty='没有文章！'>
										<a href="__MODULE__/Info/info/info_id/{$vol.info_id}">
											<p class="app-line">{$vol.info_title}</p>
										</a>
									</volist>
								</div>
							</div>
						</div>
					</div>
					<!--养生专题结束-->
				</div>
			</div>
		</div>
		<!--保健养生结束-->

		<!--底部开始-->

		<div class="container-fluid app-bottom-nav">
			<div class="row">
				<div class="col-xs-7 app-bottom-7">
					<!-- <p>版权所有&nbsp;2015-2017@上海信雀健康管理有限公司&nbsp;保留所有权利</p> -->
					<p>版权所有 2015-2017@上海信雀（医疗科技）有限公司 保留所有权利</p>
					<p>沪ICP备15048359号</p>
					<p>{$call_me_bottom}</p>
					<p>网站信息仅供参考，不能作为诊断及医疗的依据，就医请遵照医生诊断</p>
				</div>
				<div class="col-xs-5 app-bottom-5">
					<img src="__ROOT__/{$weixin}" />
					<p>扫描二维码&nbsp;关注我们</p>
				</div>
			</div>
		</div>
		<!--底部结束-->
	</div>
	<script src="__VENDOR__/jquery/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="__VENDOR__/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__VENDOR__/vue/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="__HDIST__/app/app.js" type="text/javascript" charset="utf-8"></script>
	<script src="__HDIST__/index/index.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>