<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>管理员账号管理</title>
    <include file="App/Admin/View/component/importComponent.html" />
    <link href="__ADIST__/ctos/ctos.css" rel="stylesheet" type="text/css">

    <style>
        body {
            padding: 15px;
            padding-top: 0;
        }
    </style>

</head>

<body>


    <div class="page-header">
        <h1>
            <small>管理员账号管理</small>
        </h1>
    </div>

    <div class="layui-row layui-form">

        <div class="layui-col-md12 ">
            <!--  -->
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm layui-black tips" id="add" data-tips='3' data-color='#666' title="新增管理员账户">
                    <i class="layui-icon">&#xe654;</i>
                </button>
                <button class="layui-btn layui-btn-sm layui-black tips" id="removeAll" data-tips='3' data-color='rgb(253, 51, 51)' title="批量删除">
                    <i class="layui-icon">&#xe640;</i>
                </button>
            </div>
            <!--  -->
            <div class="" style="float:right">
                <div class="layui-inline">
                    <input class="layui-input layui-input-sm" id="key" placeholder="搜索" autocomplete="off">
                </div>
                <button class="layui-btn layui-black layui-btn-sm" id="reload" data-type="reload">
                    <i class="layui-icon">&#xe615;</i>
                    搜索
                </button>
            </div>
            <!--  -->
        </div>

    </div>

    <div class="form-black">
        <table id="table" lay-filter="table_filter"></table>
    </div>


    <script type="text/html" id="bar1">
        <a class="layui-btn layui-btn-xs layui-black tips" title='修改密码' data-tips='4' data-color='#666'lay-event="edit"><i class="layui-icon">&#xe642;</i></a>
        <button class="layui-btn layui-btn-xs layui-btn-danger tips" lay-event="del" title='删除'data-tips='4' data-color='rgb(253, 51, 51)'><i class="layui-icon">&#xe640;</i></button>
        
    </script>

    <script>

        var tableIns;
        var table;
        var active_admin_id;
        layui.use(['table', 'form'], function () {
            table = layui.table
                , form = layui.form;
            //第一个实例
            tableIns = table.render({
                id: 'table'
                // , skin: 'line'
                , elem: '#table'
                , even: true //开启隔行背景
                , url: '__MODULE__/Config/getList' //数据接口
                , where: {
                    table: 'admin',
                    order: 'admin_id asc,add_time desc'
                }
                , response: {
                    statusCode: 1 //成功的状态码，默认：0
                }
                , page: true //开启分页
                , limit: localStorage.limit == null ? 10 : localStorage.limit
                // , limits: [5, 10]
                , cols: [[ //表头
                    { type: 'checkbox', fixed: 'lfet' }
                    , { field: 'admin_id', title: '账号', }
                    , { field: 'add_time', title: '添加时间', }
                    , { field: 'edit_time', title: '最新修改时间', }
                    , { fixed: 'right', width: 100, align: 'center', title: '操作', toolbar: '#bar1' } //这里的toolbar值是模板元素的选择器
                ]]
            });


            //监听工具条
            table.on('tool(table_filter)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr 的DOM对象

                if (layEvent === 'del') { //删除

                    if (data.admin_id == 'admin') {
                        layer.msg('不能删除这个admin账号！');
                        return
                    }


                    layer.confirm('真的删除此条数据吗？', function (index) {
                        //删除对应行（tr）的DOM结构，并更新缓存
                        layer.close(index);
                        //向服务端发送删除指令
                        var delObj = {
                            table: 'admin',
                            id: data.admin_id,
                        };

                        del(delObj, function () {
                            obj.del();
                        })

                    });
                }


                if (layEvent === 'edit') { //编辑

                    var p1;
                    var p2;


                    layer.prompt({
                        formType: 1,
                        title: '请输入要修改的密码',
                    }, function (value, _p1, elem) {
                        p1 = value;
                        layer.close(_p1);

                        layer.prompt({
                            formType: 1,
                            title: '再次输入密码',
                        }, function (value, _p2, elem) {
                            p2 = value;
                            layer.close(_p2);
                            if (p1 !== p2) {
                                layer.msg('两次输入的密码不一致');
                                return;
                            }

                            (function () {

                                var url = '__CONTROLLER__/edit';
                                var obj = {
                                    admin_id: data.admin_id,
                                    admin_pwd: p2
                                };
                                var fun = function (res) {

                                    try {
                                        res = JSON.parse(res);
                                    } catch (error) {
                                        //转换错误
                                        layer.msg('修改失败：接口异常！');
                                        return
                                    }
                                    if (res.res > 0) {
                                        layer.msg('修改成功！');
                                    } else {
                                        layer.msg('修改失败：' + res.msg);
                                    }

                                };
                                $.post(url, obj, fun);

                            }());

                        });

                    });

                }

            });

        });




        /**
        数据搜索
        */
        $(document).on('click', '#reload', function () {

            var key = $('#key').val();
            var key_where = 'admin_id|money|admin_title';
            //执行重载
            tableIns.reload({
                page: {
                    curr: 1 //重新从第 1 页s开始
                }
                , where: {
                    table: 'admin',
                    key: key,
                    key_where: key_where,
                    // order: 'admin_id asc,add_time desc'
                }
                , done: function (res, curr, count) {
                    //如果是异步请求数据方式，res即为你接口返回的信息。
                    //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                    console.log(res);

                    //得到当前页码
                    console.log(curr);

                    //得到数据总量
                    console.log(count);
                }
            });

        });

        $('#add').on('click', function () {

            var admin_id;
            var admin_pwd;
            var admin_pwd2;


            //账号
            layer.prompt({
                formType: 0,
                title: '请输入新增的账号',
            }, function (value, _admin_id, elem) {
                admin_id = value;
                layer.close(_admin_id);


                //密码
                layer.prompt({
                    formType: 1,
                    title: '请输入新增账号的密码',
                }, function (value, _pwd, elem) {
                    admin_pwd = value;
                    layer.close(_pwd);


                    //密码2
                    layer.prompt({
                        formType: 1,
                        title: '请再次输入密码',
                    }, function (value, _pwd2, elem) {
                        admin_pwd2 = value;
                        layer.close(_pwd2);


                        if (admin_pwd !== admin_pwd2) {
                            //密码不等

                            layer.msg('两次输入的密码不一致！')
                            return;
                        }

                        (function () {

                            var url = '__CONTROLLER__/add';
                            var obj = {
                                admin_id: admin_id,
                                admin_pwd: admin_pwd2,
                            };
                            var fun = function (res) {

                                try {
                                    res = JSON.parse(res);
                                } catch (error) {
                                    //转换错误
                                    e(res);
                                    return
                                }
                                if (res.res > 0) {

                                    layer.msg('添加成功！');
                                    tableIns.reload();

                                } else {
                                    e(res);
                                    layer.msg('添加失败：' + res.msg);
                                }


                            };
                            $.post(url, obj, fun);

                        }());




                    });


                });

            });


        });

        /**
         * 批量删除
         */
        $(document).on('click', '#removeAll', function () {
            // w('开始批量删除');
            var o = table.checkStatus('table');
            if (o.data.length <= 0) {
                return;
            }

            layer.confirm('确定删除这些管理员账号？', function (index) {

                var id = [];
                for (var i = 0; i < o.data.length; i++) {
                    if (o.data[i].admin_id == 'admin') {
                        layer.msg('不能删除这个admin账号！');
                        return
                    }
                    id[i] = o.data[i].admin_id;
                }

                var obj = {
                    table: 'admin',
                    id: id
                };

                delAll(obj, function (params) {
                    tableIns.reload();
                });

            });

        });




    </script>
</body>

</html>