<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <include file="App/Admin/View/component/impot.comp.html" />
    <link href="__ADIST__/ctos/ctos.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="__VENDOR__/umeditor/themes/default/css/umeditor.css" />
    <title>编辑文章</title>
    <style>
        body {
            padding: 0 100px;
            background-color: #f9f9f9;
        }

        .o-panel {
            box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
        }

        .edui-container {
            display: inline-block;

        }

        .layui-form-select dl {
            z-index: 9999;
        }

        #info_head_img {
            max-width: 300px;
            border-radius: 10px;
            margin: 10px 0;
        }

        #container img {
            max-width: 100%;
        }
    </style>
</head>

<body>

    <div class="o-panel">
        <div class="o-panel-head">
            <div class="o-panel-title">
                编辑文章
            </div>
        </div>
        <div class="o-panel-body">

            <form class="layui-form">
                <div class="form-group">
                    <label>文章标题</label>
                    <input type="text" value="{$info.info_title}" autocomplete="off" class="o-form-control" name="info_title" placeholder="文章标题">
                </div>
                <div class="form-group">
                    <label>封面图</label>
                    <button type='button' class="layui-btn layui-black" id="upload">
                        <i class="layui-icon">&#xe67c;</i>
                        上传封面图
                    </button>

                </div>


                <div class="form-group">
                    <label> </label>
                    <img src="__ROOT__{$info.info_head}" alt="" id="info_head_img" name="info_head">
                    <input type="hidden" name="info_head" value='{$info.info_head}' id="info_head">

                </div>


                <div class="form-group">
                    <label>编辑到栏目</label>
                    <select name="nav_id" lay-verify="" lay-filter='l1' id="l1" lay-search="">
                        <option value="">选择栏目</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>文章简介</label>
                    <textarea cols="30" rows="10" class="o-form-control" name="info_info" placeholder="文章简介（255字以内）">{$info.info_info}</textarea>
                </div>


                <div class="form-group">
                    <label>文章详情</label>
                    <script id="container" name="info_content" type="text/plain" style="width:100%" lay-verify='required'>{$info.info_content|htmlspecialchars_decode}</script>
                </div>
                <div class="form-group">
                    <label> </label>
                    <div class="text-right">
                        <button type="button" class="btn btn-default o-btn" lay-submit lay-filter="save">保存</button>
                    </div>
                </div>
            </form>

        </div>
        <div class="o-panel-footer">
        </div>
    </div>

    <!-- 引入 etpl -->
    <script src="__VENDOR__/umeditor/third-party/template.min.js" type="text/javascript" charset="utf-8"></script>
    <!-- 配置文件 -->
    <script src="__VENDOR__/umeditor/umeditor.config.js" type="text/javascript" charset="utf-8"></script>
    <!-- 编辑器源码文件 -->
    <script src="__VENDOR__/umeditor/umeditor.js" type="text/javascript" charset="utf-8"></script>
    <!-- 语言包文件 -->
    <script src="__VENDOR__/umeditor/lang/zh-cn/zh-cn.js" type="text/javascript" charset="utf-8"></script>


    <script src="__ADIST__/linkage/linkage.js" type="text/javascript" charset="utf-8"></script>
    <script>


        window.um = UM.getEditor('container', {
            /* 传入配置参数,可配参数列表看umeditor.config.js */
        });

        layui.use(['form', 'upload'], function () {
            var form = layui.form;
            upload = layui.upload;

            form.on('submit(save)', function (data) {
                // console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
                // console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
                // console.log(data.field); //当前容器的全部表单字段，名值对形式：{name: value}

                var length = data.field.info_info.length;
                if (length > 255) {

                    layer.msg('简介不能大于255个字', {
                        anim: 6
                    });
                    return;
                }

                (function () {

                    var url = '__MODULE__/use/saveField';
                    var obj = {
                        table: 'info',
                        id: '{$info.info_id}',
                        save: data.field
                    };

                    var fun = function (res) {

                        try {
                            res = JSON.parse(res);
                        } catch (error) {
                            //转换错误
                            layer.msg('接口错误！', {
                                amin: 6
                            });
                            w(res);
                            return;
                        }

                        if (res.res >= 0) {
                            layer.msg('保存成功~');

                        } else {
                            layer.msg('保存失败~', {
                                amin: 6
                            });
                        }

                    };
                    $.post(url, obj, fun);

                }());

                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });

            //执行实例
            var uploadInst = upload.render({
                elem: '#upload' //绑定元素
                , url: '__MODULE__/Use/upFile' //上传接口
                // , accept: 'file' //允许上传的文件类型
                // , exts: 'csv'
                // , auto: false
                , data: {
                    src: '/info/img/',
                    del_src: '{$info.info_head}'
                }
                , drag: true
                , done: function (res) {
                    //上传完毕回调4
                    w(res);
                    this.data.del_src = res.data.src;

                    if (res.code == 0) {
                        //成功
                        $('#info_head_img').attr('src', '__ROOT__' + res.data.src);
                        $('#info_head').val(res.data.src);

                    }
                }
                , error: function () {
                    //请求异常回调
                    layer.msg('异步接口出错！', {
                        anim: 6
                    });
                }
            });


            (function () {

                var url = '__CONTROLLER__/getNavList';
                var obj = {
                    table: 'nav'
                };
                var fun = function (res) {

                    try {
                        res = JSON.parse(res);
                    } catch (error) {
                        //转换错误
                        return
                    }
                    w(res.msg);
                    var arr = [];
                    arr[0] = res.msg;
                    linkage(arr, form, ['{$info.nav_id}']);

                };
                $.get(url, obj, fun);

            }());




        });






    </script>



</body>

</html>