<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文章列表</title>
    <include file="App/Admin/View/component/impot.comp.html" />
    <style>
        body {
            padding: 15px;
            padding-top: 0;
        }
    </style>

</head>

<body>
    <!-- 文章列表 -->

    <div class="page-header">
        <h1>
            <small>文章列表</small>
        </h1>
    </div>

    <ol class="breadcrumb">
        <li>
            文章管理
        </li>
        <li class="active">文章列表</li>
    </ol>

    <div class="layui-row layui-form">
        <div class="layui-col-md12">

            <div class="layui-btn-group">
                <a class="layui-btn layui-btn-sm layui-black" data-tips='3' href='__CONTROLLER__/add' target="_blank" data-color='#666' title='新增'>
                    <i class="layui-icon">&#xe654;</i>
                </a>

                <button class="layui-btn layui-btn-sm layui-black" id="removeAll" data-tips='3' data-color='rgb(253, 51, 51)' title='批量删除'>
                    <i class="layui-icon">&#xe640;</i>
                </button>


            </div>


            <!--  -->
            <div class="" style="float:right">

                <div class="layui-inline">
                    <input class="layui-input layui-input-sm" id="key" placeholder="搜索" autocomplete="off">
                </div>
                <button class="layui-btn layui-black layui-btn-sm" id="reload" data-type="reload">
                    <i class="layui-icon">&#xe615;</i>
                    搜索
                </button>
            </div>
            <!--  -->

        </div>
    </div>


    <div class="form-black">
        <table id="table" lay-filter="table_filter"></table>
    </div>


    <script type="text/html" id="bar1">

        <a class="layui-btn layui-btn-xs layui-black" lay-event="edit" data-tips='4' title='编辑'>
            <i class="layui-icon">&#xe642;</i>
        </a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" data-tips='2' data-color='rgb(253, 51, 51)' title='删除'>
            <i class="layui-icon">&#xe640;</i>
        </a>
    
    </script>

    <script type="text/html" id="checkboxTpl">
        <input type="checkbox" name="lock" value="{{d.info_id}}" title="推荐" lay-filter="is_up" {{ d.is_up == 1 ? 'checked' : '' }}>
      </script>

    <script>
        var tableIns;
        var table;
        layui.use(['table', 'form'], function () {
            table = layui.table
                , form = layui.form;
            //第一个实例
            tableIns = table.render({
                id: 'table'
                // , skin: 'line'
                , elem: '#table'
                , even: true //开启隔行背景
                , elem: '#table'
                , url: '__MODULE__/info/getListWhere' //数据接口
                , where: {
                    table: 'info'
                }
                , response: {
                    statusCode: 1 //成功的状态码，默认：0
                }
                , page: true //开启分页
                , limit: localStorage.limit == null ? 20 : localStorage.limit
                // , limits: [5, 10]
                , cols: [[ //表头
                    { type: 'checkbox', width: 50, fixed: 'left' }
                    , { field: 'info_id', title: 'id', width: 100 }
                    , { field: 'info_title', title: '文章标题', width: 400, edit: 'text' }
                    , { field: 'nav_title', title: '栏目', width: 200, sedit: 'text' }
                    , { field: 'add_time', title: '添加时间', width: 200, sort: true }
                    , { field: 'edit_time', title: '最新修改时间', width: 200, sort: true }
                    , { fixed: 'right', width: 150, align: 'center', title: '操作', toolbar: '#bar1' } //这里的toolbar值是模板元素的选择器
                ]]
            });


            //监听工具条
            table.on('tool(table_filter)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr 的DOM对象

                if (layEvent === 'del') { //删除

                    layer.confirm('真的删除此条数据吗？', function (index) {
                        //删除对应行（tr）的DOM结构，并更新缓存
                        layer.close(index);
                        //向服务端发送删除指令

                        var delObj = {
                            table: 'info',
                            id: data.info_id,
                        };

                        del(delObj, function () {
                            obj.del();
                        })

                    });
                }


                if (layEvent === 'edit') {
                    //编辑
                    window.open('__CONTROLLER__/edit/info_id/' + data.info_id);
                }

            });



            /**
             * 监听单元格编辑
            */
            table.on('edit(table_filter)', function (obj) { //注：edit是固定事件名，test是table原始容器的属性 lay-filter="对应的值"
                // console.log(obj.value); //得到修改后的值
                // console.log(obj.field); //当前编辑的字段名
                // console.log(obj.data); //所在行的所有相关数据  

                var save = {
                    table: 'info',
                    id: obj.data.info_id,
                    save: {}
                };
                save['save'][obj.field] = obj.value;
                saveInfo(save);

            });
        });

        /**
        数据搜索
        */
        $(document).on('click', '#reload', function () {

            var key = $('#key').val();

            // key = key.replace(/\s+/g, " ");//删除所有空格;

            var key_where = 'info_title';
            tableIns.reload({
                page: {
                    curr: 1 //重新从第 1 页s开始
                }
                , where: {
                    table: 'info',
                    key: key,
                    key_where: key_where
                }
                , done: function (res, curr, count) {
                    //如果是异步请求数据方式，res即为你接口返回的信息。
                    //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                    w(res);
                    //得到当前页码
                    // console.log(curr);

                    //得到数据总量
                    // console.log(count);
                }
            });

        });

        $('#add').on('click', function () {

            //新增栏目

            layer.prompt({
                formType: 2,
                title: '添加栏目，换行可添加多个，栏目不能重名。',
                area: ['600px', '350px'] //自定义文本域宽高
            }, function (value, index, elem) {

                var load = layer.load(2);

                var arr = strToArr(value, '\n', function (i, arr, element) {

                    var item = {};
                    item.info_title = element;
                    item.sort = i;
                    return item;

                });



                //重名检查
                for (var i = 0; i < arr.length; i++) {
                    var item_i = arr[i];

                    for (var j = 0; j < arr.length; j++) {
                        var item_j = arr[j];

                        if (j != i) {
                            if (item_i['info_title'] == item_j['info_title']) {
                                //检测到重名
                                layer.msg('栏目名：【' + item_i['info_title'] + '】检测到冲突，请修改后再操作！');
                                layer.close(load);
                                return;
                            }
                        }
                    }
                }

                //再从服务器取出，和服务器中的数据进行比对看看有没有重名的

                (function () {

                    var url = '__MODULE__/Use/getList';
                    var obj = {
                        table: 'info'
                    };
                    var fun = function (res) {

                        try {
                            res = JSON.parse(res);
                        } catch (error) {
                            //转换错误
                            return
                        }
                        if (res.res > 0) {
                            //服务器有数据，进行判断
                            var info_arr = res.msg;

                            for (var i = 0; i < arr.length; i++) {
                                var item_i = arr[i];

                                for (var j = 0; j < info_arr.length; j++) {
                                    var item_j = info_arr[j];

                                    if (item_i['info_title'] == item_j['info_title']) {
                                        //检测到重名
                                        w(item_i['info_title']);
                                        w(item_j['info_title']);
                                        layer.msg('栏目名：【' + item_i['info_title'] + '】已存在，请修改后再操作！');
                                        layer.close(load);
                                        return;
                                    }
                                }
                            }
                        }
                        //能执行到这里代表本地没有重名并且服务器也没有重名
                        (function () {

                            var url = '__MODULE__/Use/addAll';
                            var add = {
                                table: 'info',
                                add: arr
                            };
                            var fun = function (res) {

                                layer.close(load);
                                layer.close(index);

                                try {
                                    res = JSON.parse(res);
                                } catch (error) {
                                    //转换错误
                                    layer.msg('异步接口出错！', {
                                        anim: 6
                                    });
                                    return
                                }

                                if (res.res > 0) {

                                    layer.msg('添加成功~');
                                    tableIns.reload();

                                } else {
                                    layer.msg('添加失败：' + res.msg);
                                }

                            };
                            $.post(url, add, fun);
                        }());
                        layer.close(load);

                    };
                    $.get(url, obj, fun);

                }());
            });

            //新增栏目结束
        });

        /**
         * 批量删除
         */
        $(document).on('click', '#removeAll', function () {
            // w('开始批量删除');
            var o = table.checkStatus('table');
            if (o.data.length <= 0) {
                return;
            }

            layer.confirm('确定删除这些数据？', function (index) {

                var id = [];
                for (var i = 0; i < o.data.length; i++) {
                    id[i] = o.data[i].info_id;
                }

                var obj = {
                    table: 'info',
                    id: id
                };

                delAll(obj, function (params) {
                    tableIns.reload();
                });

            });

        });

    </script>
</body>

</html>