<div class="app-bottom-nav">

    <div class="container" style="position: relative">

        <div class="text-center">
            <p>网站信息仅供参考，不能作为诊断及医疗的依据，就医请遵照医生诊断</p>
            <p>版权所有 2015-2017@上海信雀医疗科技有限公司 保留所有权利 </p>
            <p>
                <div style="width:500px;margin:0 auto; padding:5px 0;">
                    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?spm=5176.8142029.631162.103.489875471A9TGZ&recordcode=31011002002539"
                        style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                        <img src="__ASSETS__/img/ban.png" style="float:left;" />
                        <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px;">沪公网安备 31011002002539号</p>
                    </a>
                    <a target="_blank" href="http://www.miitbeian.gov.cn/" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                        <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px;">沪ICP备17056733号</p>
                    </a>
                </div>
            </p>
            <p>{$call_me_bottom}</p>
            <a href="{:U('Admin/Index/index')}" target="_blank">后台管理</a>
        </div>

        <div class="pull-right footer-img text-center">
            <img src="__ROOT__{$weixin}" />
            <p>扫描二维码&nbsp;关注我们</p>
        </div>

    </div>


</div>