<div class="container-fluid app-bottom-nav">
    <div class="row">
        <div class="col-xs-7 app-bottom-7">
            <!-- <p>版权所有&nbsp;2015-2017@上海信雀健康管理有限公司&nbsp;保留所有权利</p> -->
            <p>网站信息仅供参考，不能作为诊断及医疗的依据，就医请遵照医生诊断</p>
            <p>版权所有 2015-2017@上海信雀医疗科技有限公司 保留所有权利</p>
            <p>沪ICP备17056733号</p>
            <p>{$call_me_bottom}</p>
        </div>
        <div class="col-xs-5 app-bottom-5">
            <img src="__ROOT__/{$weixin}" />
            <p>扫描二维码&nbsp;关注我们</p>
        </div>
    </div>
</div>