<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>轮播图管理</title>
    <include file="App/Admin/View/component/impot.comp.html" />
    <style>
        body {
            padding: 0 15px
        }

        .img-box {
            width: 100%;
            display: block;
        }

        .img-hover {
            max-width: 300px;
        }
    </style>

</head>

<body>
    <div class="page-header">
        <h1>
            <small>轮播图管理</small>
        </h1>
    </div>

    <ol class="breadcrumb">
        <li>
            轮播图管理
        </li>
        <li class="active">轮播图列表</li>
    </ol>

    <div class="layui-row" style="padding-top:10px">

        <div class="layui-btn-group">
            <button class="layui-btn layui-btn-sm layui-black" title='上传轮播图' id="add">
                <i class="layui-icon">&#xe654;</i>
            </button>
            <button class="layui-btn layui-btn-sm layui-black" id="removeAll" data-color='rgb(253, 51, 51)' title='批量删除'>
                <i class="layui-icon">&#xe640;</i>
            </button>
        </div>


    </div>

    <div class="form-black">
        <table id="table" lay-filter="table_filter"></table>
    </div>


    <script type="text/html" id="bar1">
        <!-- <a class="layui-btn layui-btn-sm layui-black resupload" data-id='{{d.carousel_id}}' title='重新上传' >
            <i class="layui-icon">&#xe67c;</i>
        </a> -->
        <a class="layui-btn layui-btn-danger layui-btn-xs" title='删除'  data-color='rgb(253, 51, 51)'lay-event="del">
            <i class="layui-icon">&#xe640;</i>
        </a>
    </script>

    <script type="text/html" id="bar_url">

        <div class="img-box" data-mtpis='<img src="__ROOT__{{ d.carousel_url }}" class="img-hover"  alt="">'>
                【图片】
        </div>
       
    </script>

    <script>
        var tableIns;
        var table;
        var upload;
        layui.use(['table', 'form', 'upload'], function () {
            upload = layui.upload;
            table = layui.table;
            form = layui.form;


            tableIns = table.render({
                id: 'table'
                , elem: '#table'
                , url: '__MODULE__/Use/getListWhere' //数据接口
                , where: {
                    table: 'carousel',
                    order: 'sort asc',
                }
                , response: {
                    statusCode: 1 //成功的状态码，默认：0
                }
                , page: true //开启分页
                , limit: localStorage.limit == null ? 10 : localStorage.limit
                // , limits: [5, 10]
                , cols: [[ //表头
                    { type: 'checkbox', width: 50, fixed: 'left' }
                    , { field: 'carousel_id', title: 'id', width: 100 }
                    , { field: 'carousel_url', title: '图片', width: 500, edit: 'text', toolbar: '#bar_url' }
                    , { field: 'sort', title: '排序', width: 80, edit: 'text', sort: true }
                    , { field: 'add_time', title: '添加时间', width: 200, sort: true }
                    , { field: 'edit_time', title: '最后修改时间', width: 200, sort: true }
                    , { fixed: 'right', width: 100, align: 'center', title: '操作', toolbar: '#bar1' } //这里的toolbar值是模板元素的选择器

                ]]
            });


            //监听工具条
            table.on('tool(table_filter)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr 的DOM对象

                if (layEvent === 'del') { //删除

                    layer.confirm('真的删除此条数据吗？', function (index) {
                        //删除对应行（tr）的DOM结构，并更新缓存
                        layer.close(index);
                        //向服务端发送删除指令

                        var delObj = {
                            table: 'carousel',
                            id: data.carousel_id,
                            del_file: data.carousel_url
                        };

                        del(delObj, function () {
                            obj.del();
                        })

                    });
                }


            });


            /**
             * 监听单元格编辑
            */
            table.on('edit(table_filter)', function (obj) { //注：edit是固定事件名，test是table原始容器的属性 lay-filter="对应的值"
                console.log(obj.value); //得到修改后的值
                console.log(obj.field); //当前编辑的字段名
                console.log(obj.data); //所在行的所有相关数据  

                var save = {
                    table: 'carousel',
                    id: obj.data.carousel_id,
                    save: {}
                };
                save['save'][obj.field] = obj.value;
                saveInfo(save);

            });

            //执行实例
            var uploadInst = upload.render({
                elem: '#add' //绑定元素
                , url: '__MODULE__/Use/upFile' //上传接口
                // , accept: 'file' //允许上传的文件类型
                // , exts: 'csv'
                // , auto: false
                , data: {
                    src: '/carousel/'
                }
                , drag: true
                , done: function (res) {
                    //上传完毕回调
                    if (res.code == 0) {
                        //成功

                        var url = '__MODULE__/Use/add';
                        var obj = {
                            table: 'carousel',
                            add: {
                                carousel_url: res.data.src,
                                sort: 0
                            }
                        };
                        var fun = function (res) {
                            w(res);
                            try {
                                res = JSON.parse(res);
                            } catch (error) {
                                //转换错误
                                layer.msg('异步接口出错！', {
                                    anim: 6
                                });
                                return
                            }
                            if (res.res > 0) {
                                layer.msg('上传成功！');
                                tableIns.reload();
                            } else {
                                layer.msg('上传失败！', {
                                    anim: 6
                                });
                            }

                        };
                        $.post(url, obj, fun);


                    }
                }
                , error: function () {
                    //请求异常回调
                }
            });



        });

        /**
        数据搜索
        */
        $(document).on('click', '#reload', function () {

            var key = $('#key').val();
            var key_where = 'carousel_id|carousel_title';
            //执行重载
            tableIns.reload({
                page: {
                    curr: 1 //重新从第 1 页s开始
                }
                , where: {
                    table: 'carousel',
                    key: key,
                    key_where: key_where
                }
                , done: function (res, curr, count) {
                    //如果是异步请求数据方式，res即为你接口返回的信息。
                    //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                    console.log(res);

                    //得到当前页码
                    console.log(curr);

                    //得到数据总量
                    console.log(count);
                }
            });

        });

        /**
         * 批量删除
         */
        $(document).on('click', '#removeAll', function () {
            // w('开始批量删除');
            var o = table.checkStatus('table');
            if (o.data.length <= 0) {
                return;
            }

            layer.confirm('确定删除这些数据？', function (index) {

                var id = [];
                for (var i = 0; i < o.data.length; i++) {
                    id[i] = o.data[i].carousel_id;
                }

                var obj = {
                    table: 'carousel',
                    id: id
                };

                delAll(obj, function (params) {
                    tableIns.reload();
                });

            });

        });
    </script>
</body>

</html>