<link rel="stylesheet" type="text/css" href="../../vendor/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../../vendor/amazeui/css/amazeui.css" />
<link rel="stylesheet" type="text/css" href="../../dist/font/iconfont.css" />
<link rel="stylesheet" type="text/css" href="../../dist/a/css/a.css" />
<link rel="stylesheet" type="text/css" href="../../vendor/font-awesome/css/font-awesome.min.css" />

<script src="../../vendor/jquery/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="../../vendor/amazeui/js/amazeui.js" type="text/javascript" charset="utf-8"></script>
<script src="../../dist/a/js/a.js" type="text/javascript" charset="utf-8"></script>